.Header {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  background-color: #17202a;
}

.Header .header_asset {
  width: 35%;
}

.Header .header_asset img {
  width: 100%;
}

.Header .header_side {
  width: 60%;
  padding: 20px;
  border-left: 5px solid #fff;
}

.Header .header_side b {
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #008080;
}

.Header .header_side h2 {
  font-size: 36px;
  letter-spacing: 1px;
}

.Header .header_side .header_btn_block {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.Header .header_side .header_btn_block a {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  transition: 0.5s;
}

.Header .header_side .header_btn_block a .cart_icon {
  font-size: 25px;
  font-weight: bold;
}

.Header .header_side .header_btn_block a:nth-child(1) {
  background-color: #008000;
}

.Header .header_side .header_btn_block a:nth-child(2) {
  background-color: #ff0000;
}

.Header .header_side .header_btn_block a:hover {
  opacity: 1;
  transform: scale(1.05);
}
