.Navbar {
  width: 100%;
  overflow-x: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px 100px 0 100px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #17202a;
  position: sticky;
  top: 0;
  z-index: 100;
}

.Navbar .Logo {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #fff;
}

.Logo b {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  color: #fff;
}

.Logo img {
  width: 80px;
  height: 60px;
}

.Navbar .search_input {
    width: 60%;
    display: flex;
    align-items: center;
    position: relative;
}

.Navbar .search_input input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 8px 8px 8px 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 1px;
    outline: none;
}

.Navbar .search_input .search_icon {
    position: absolute;
    font-size: 22px;
    left: 10px;
    top: 10px;
}

.Navbar .BtnInter {
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  background-color: #008000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  gap: 15px;
  opacity: 0.8;
  transition: 0.5s;
}

.BtnInter .InterIcon {
  font-size: 20px;
  margin-bottom: 2px;
}

.BtnInter p {
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 1px;
}

.Navbar .BtnInter:hover {
  opacity: 1;
}

.Navbar .BtnInter:active {
  animation: 0.2s btnclick forwards;
}

@keyframes liradius {
  25% {
    border-left: 1px solid #00ffff;
  }
  50% {
    border-top: 1px solid #00ffff;
  }
  75% {
    border-right: 1px solid #00ffff;
  }
  100% {
    border-bottom: 1px solid #00ffff;
  }
}

@keyframes btnclick {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}