.Navbar {
  width: 100%;
  overflow-x: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px 100px 0 100px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #17202a;
  position: sticky;
  top: 0;
  z-index: 100;
}

.Navbar .Logo {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #fff;
}

.Logo b {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  color: #fff;
}

.Logo img {
  width: 70px;
  height: 50px;
}

.Navbar .search_input {
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
}

.Navbar .search_input input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 10px 110px 10px 40px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 1px;
  outline: none;
  font-family: sans-serif;
}

.Navbar .search_input .btn_search {
  position: absolute;
  right: 0;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 10px 15px;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-family: sans-serif;
  color: #000;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s;
}

.Navbar .search_input .search_icon {
  position: absolute;
  left: 12px;
  font-size: 20px;
  font-weight: bold;
}

.Navbar .search_input .btn_search:hover {
  opacity: 1;
}